body {
  margin: 0;
  overflow-y: hidden;
}

.outer {
  height: 100vh;
  overflow-y: auto;
}

/* 화면에서 스크롤바 안보이게 */
.outer::-webkit-scrollbar {
  display: none;
}

.inner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.bg_yellow {
  background-color: #f7f6cf;
}

.bg_blue {
  background-color: #b6d8f2;
}

.bg_pink {
  background-color: #f4cfdf;
}
