.mainGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 98vw;
  height: auto;
  overflow-x: hidden;
  gap: 0;
}

.introduceGrid {
  /* background-color: aqua; */
  /* width: calc(100% - 65%); */
  /* width: 35%; */
  height: 100%;
  /* min-width: 425px; */
  width: 425px;
  overflow-x: hidden;
}

.detailGrid {
  flex-grow: 0.8;
  /* background-color: rgb(76, 186, 107, 0.3); */
  /* width: 65%; */
  width: calc(100% - 436px);
  height: 100%;
  overflow-x: hidden;
}

/* .detailGrid::-webkit-scrollbar {
  display: none;
} */

.avatar {
  width: 200px;
  transform: translate(-10px, 20px);
  margin-top: -20px;
  /* margin: 20px 20px; */
}

.introduceBox {
  margin: 0 70px;
  margin-right: 0;
  text-align: left;
  margin-top: 39px;
  overflow-x: hidden;
  position: sticky;
}

.detailBox {
  margin: 0px 70px;
  margin-left: 90px;
  margin-top: 75px;
  text-align: left;
  overflow: hidden;
}

.blogName {
  font-family: 'font1';
  font-size: 3rem;
  margin: 0;
}

.titleBar {
  margin: 1rem 0;
  width: 100%;
  height: 2px;
  border-radius: 1px;
}

.topText {
  font-family: 'font1';
  position: fixed;
  top: 18px;
  left: 20px;
  font-size: 30px;
}

.topBar {
  position: fixed;
  /* background-color: #f8f8f8; */
  width: calc(100vw - 5px);
  height: 75px;
  top: 0;
  left: 0;
  /* border-radius: 1px; */
  backdrop-filter: saturate(160%) blur(10px) opacity(0.5);
  -webkit-backdrop-filter: saturate(160%) blur(10px) opacity(0.5);
}

.introduceMySelf {
  font-family: 'font2';
  font-size: 1.2rem;
  line-height: 150%;
  letter-spacing: 0.1rem;
  word-spacing: 0.3rem;
}

p {
  margin: 0;
}

.headBox {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 65px;
  aspect-ratio: 3.14 / 1;
}

.mindMapBox {
  width: 60%;
  height: 100%;
  /* height: 300px; */
  overflow: hidden;
  border-radius: 28px;
  border: 3px solid #ccc;
  /* box-shadow: 0 0 5px #ccc; */
  /* box-shadow: 0 2px 4px rgb(0 0 0 / 4%); */
}

.headBox2 {
  width: 40%;
  height: 100%;
  /* height: 300px; */
  overflow: hidden;
  border-radius: 28px;
  border: 3px solid #ccc;
  /* box-shadow: 0 0 5px #ccc; */
}

.contactMe {
  font-family: 'font1';
  font-size: 2rem;
  /* line-height: 150%; */
  letter-spacing: 0.1rem;
  word-spacing: 0.3rem;
  margin: 0;
}

.contactBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 42px;
  justify-content: center;
}

.contactMiniBox {
  width: 144px;
  height: 144px;
  border-radius: 50%;
  border-radius: 28px;
  border: 3px solid #ccc;
  overflow: hidden;
  /* padding: 16px; */
  transition: all 0.3s ease-in-out;
  will-change: transform;
  cursor: pointer;
}

.contactMiniBox:hover {
  /* background-color: #f8f8f8; */
  transform: scale(1.02);
  backdrop-filter: saturate(160%) blur(10px) opacity(0.9) brightness(1.2);
  -webkit-backdrop-filter: saturate(160%) blur(10px) opacity(0.9) brightness(1.2);
}

.contactLogos {
  /* position: relative; */
  width: 45px;
  height: 45px;
  border-radius: 15px;
  border: 2px solid rgb(125, 125, 125);
  /* top: 16px;
  left: 16px; */
  margin: 16px;
  margin-bottom: 3px;
  overflow: hidden;
  /* box-shadow: 0 0 5px #ccc; */
}

.contactTitle {
  font-family: 'font2';
  font-size: 0.9rem;
  /* line-height: 150%; */
  letter-spacing: 0.15rem;
  word-spacing: 0.3rem;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 16px;
}

.contactSubTitle {
  font-family: 'font2';
  font-size: 0.7rem;
  /* line-height: 150%; */
  letter-spacing: 0.15rem;
  word-spacing: 0.3rem;
  margin: 0;
  margin-top: 3px;
  margin-left: 16px;
  opacity: 0.7;
}
