.topText {
  font-family: 'font1';
  position: fixed;
  top: 18px;
  left: 20px;
  font-size: 30px;
}

.container {
  width: 100%;
}

.mainGrid {
  max-width: 60rem;
  margin: 0 auto;
  padding: 2rem 1.5rem;
  padding-top: 100px;
  position: relative;
}

.title {
  font-family: 'font2';
  line-height: 120%;
  font-size: 40px;
  margin-bottom: 1rem;
}

.titleBar {
  background-color: #f8f8f8;
  margin: 2rem 0;
  width: 100%;
  height: 2px;
  border-radius: 1px;
}

.topBar {
  position: fixed;
  /* background-color: #f8f8f8; */
  width: 100vw;
  height: 75px;
  top: 0;
  left: 0;
  /* border-radius: 1px; */
  backdrop-filter: saturate(160%) blur(10px) opacity(0.5);
  -webkit-backdrop-filter: saturate(160%) blur(10px) opacity(0.5);
}
