.mainText {
  font-size: 1.2rem;
  line-height: 150%;
  letter-spacing: 0.1rem;
  word-spacing: 0.3rem;
}

.mindMapBox {
  width: 100%;
  /* max-width: 600px; */
  aspect-ratio: 1.6;
  /* height: 300px; */
  overflow: hidden;
  border-radius: 28px;
  border: 3px solid #ccc;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin50 {
  height: 50px;
}

.movieDiv {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 300px;
  gap: 20px;
  text-align: left;
}

.movieImage {
  /* width: 100%; */
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.movieTitle {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  word-spacing: 0.3rem;
  margin-bottom: 7px;
}

.movieSubTitle {
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  word-spacing: 0.3rem;
  margin-bottom: 20px;
}

.movieDirector {
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  word-spacing: 0.3rem;
}

.outBox {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.box {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 4px;
  padding: 11px 15px;
}

.line {
  width: 100%;
  height: 1.8px;
  background-color: rgb(190 190 190);
  border-radius: 0.9px;
  margin: 30px 0;
}

.tableInputNumber {
  width: 17px;
  background-color: transparent;
  border-radius: 6px;
  text-align: center;
}

.tableInputNumber::-webkit-outer-spin-button,
.tableInputNumber::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
