@font-face {
  font-family: 'font1';
  src: url('/public/font/KyoboHandwriting2021sjy.ttf');
}

@font-face {
  font-family: 'font2';
  src: url('/public/font/EF_Diary.ttf');
}

.topRodeMap {
  display: flex;
  margin: 10px 0;
  align-items: center;
  gap: 5px;
  font-family: 'font1';
  font-size: 15px;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: aliceblue;
}

::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 5px;
}

.topText {
  font-family: 'font1';
  position: absolute;
  top: 18px;
  left: 20px;
  font-size: 30px;
  /* -webkit-text-stroke: 0.2px #fff; */
  mix-blend-mode: difference;
}
