@font-face {
  font-family: 'font1';
  src: url('/public/font/KyoboHandwriting2021sjy.ttf');
}

@font-face {
  font-family: 'font2';
  src: url('/public/font/EF_Diary.ttf');
}

.topRodeMap {
  display: flex;
  margin: 10px 0;
  align-items: center;
  gap: 5px;
  font-family: 'font1';
  font-size: 15px;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: aliceblue;
}

::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 5px;
}

.App {
  height: calc(var(--vh, 1vh) * 100);
}

pre,
a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: font2;
  font-size: 1.2rem;
  line-height: 150%;
  letter-spacing: 0.1rem;
  word-spacing: 0.3rem;
}
